$primary-color: #007bff;
$text-color: #333;
$hover-color: #e0e0e0;
$background-color: #e0e0e0;

.languageToggle {
  position: relative;
  display: inline-block;

  .toggleButton {
    background-color:$background-color;
    width: 125px;
    border: none;
    outline: none;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

    .languageIndicator {
      display: flex;
      align-items: center;

      img {
        width: 24px;
        height: 24px;
        margin-right: 8px;
      }

      span {
        font-weight: 500;
        color: $text-color;
      }
    }

    .arrow {
      margin-left: 8px;
      transition: transform 0.3s ease;
      color: $text-color;
    }

    .arrow.open {
      transform: rotate(180deg);
    }
  }

  .languageList {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: $background-color;
    list-style-type: none;
    padding: 8px 0;
    margin: 0;
    z-index: 1;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .languageItem {
      padding: 8px 16px;
      cursor: pointer;
      display: flex;
      align-items: center;

      img {
        width: 24px;
        height: 24px;
        margin-right: 8px;
      }

      span {
        font-weight: 500;
        color: $text-color;
      }

      &:hover,
      &.active {
        background-color: $hover-color;
      }
    }
  }
}