@import "../utils/Variable.scss";

@mixin flexCenter($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin button($color, $bg-color, $hover-bg-color) {
  padding: 0.8rem 1.5rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  color: $color;
  background-color: $bg-color;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $hover-bg-color;
    color: #fff;
  }
}

.banner {
  @include flexCenter(row);
  justify-content: space-between;
  background-color: $secondary-bg-color;
  padding: 4rem 2rem;

  @media (max-width: 991px) {
    flex-direction: column;
    padding: 7rem 2rem;

  }

  .content {
    flex: 1;
    margin-right: 2rem;

    @media (max-width: 991px) {
      margin-right: 0;
      margin-bottom: 2rem;
      text-align: center;
    }

    .title {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 2rem;
      text-align: left;

      @media (max-width: 767px) {
        font-size: 1.5rem;
        text-align: center;
      }
    }

    .description {
      font-size: 1.2rem;
      color: $secondary-color;
      margin-bottom: 2rem;
      text-align: justify;

      @media (max-width: 767px) {
        font-size: 0.9rem;
        text-align: center;
      }
    }

    .actions {
      display: flex;
      gap: 1rem;
      justify-content: left;

      @media (max-width: 991px) {
        justify-content: center;
      }

      .btn {
        @include button(#fff, $primary-color, darken($primary-color, 10%));

        @media (max-width: 991px) {
          padding: 0.6rem 1.2rem;
          font-size: 12px;
        }

        &.btnSecondary {
          @include button($primary-color, transparent, $primary-color);
          border: 1px solid $primary-color;
          font-size: 12px;
        }
      }
    }
  }

  .illustration {
    flex: 1;

    @media (max-width: 991px) {
      display: none;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}